/* nav-bar styles */

.nav-bar {
    background:  #080C14;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 50px;
  }
  
  .nav-logo {
    margin-left: 3rem;
  }

  .nav-logo img {
    height: 40px;
  }
  
  .nav-icon {
    cursor: pointer;
    margin-left: 5px;
  }
  
  .nav-items ul {
    list-style: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-items a {
    color: white;
    text-decoration: none;
    margin-right: 1.5rem
}

    .nav-items li{
        font-size: 0.8em;
        text-transform: uppercase;
        padding: 0 0.5rem;
    }

    .nav-items a:hover, 
    .nav-items a:active{
        text-shadow: 1px 1px #ff0000;
    }
  
  .nav-space {
    flex: 1;
  }

  .nav-icon{
    margin-right: 2rem;
  }

  #searchBar{
    width: 150px;
    margin-right: 1.5rem;
    padding: 5px;
    background:  #0d111a;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid white;
  }

  #searchBar:focus{
    outline:none;
    color: red;
  }
  

  
  @media (max-width: 702px) {
    .nav-items {
      display: none;
    }

    #logo{
      height: 40px;
      width: auto;
    }
  }
  
  @media (min-width: 703px) {
    .nav-icon {
      display: none;
    }
  }
  
  /* side-nav-bar styles */
  
  .side-nav-bar {
    height: 100%;
    background: #080C14;
    width: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.4s;
  }
  
  .side-nav-bar.open {
    transform: translateX(0);
  }
  
  .side-nav-bar ul {
    cursor: pointer;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .side-nav-bar ul li {
    margin-bottom: 50px;
  }

  .side-nav-bar ul li a{
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .side-nav-bar ul li a:hover,
  .side-nav-bar ul li a:active{
    text-shadow: 1px 1px #ff0000;

  }
 
  #searchBarMobile{
    width: 150px;
    padding: 5px;
    background:  #0d111a;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
  }

  #searchBarMobile:focus{
    outline:none;
    color: red;
  }
  
  /* Backdrop style */
  
  .backdrop {
    height: 100%;
    width: 100%;
    background: #161a25;
    top: 0;
    left: 0;
    z-index: 200;
    position: fixed;
  }

