.textCenter {
  justify-content: center;
  margin: 3rem 0;
}

/*Définition du titre de la page*/
h4 {
  font-family: Avenir-Heavy, sans-serif;
  color: darkgrey;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1, 4;
  display: flex;
  justify-content: center;
  padding: 40px;
}
/*fin définition du titre de la page*/

/*définition des cards*/
.heroesCard {
  width: 272px;
  height: 166px;
  border-radius: 5px;
  margin: 0 1rem 2rem 1rem;
}

.cardContainer {
  display: block;
  justify-content: space-around;
  text-align:center;

}

.heroesCard:hover {
  border: solid darkgrey 3px;
  transform: scale(1.1);
  transition: 0.5s linear;
  cursor: pointer;
}
/*fin définition des cards*/

/* Personnalisation du composant Modal*/
.modal-header {
  background: rgba(236, 29, 36, 1);
  border: 0;
}

.modal-title {
  color: white;
}

.modal-body {
  padding: 0;
}

.modal-footer {
  border: 0;
}

/* Personnalisation de la modal */
#modalText{
  padding: 1rem;
}

#imgModal {
  width: 100%;
  margin: 0;
}

.heroesImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalFooter {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  background-color: rgba(236, 29, 36, 1);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: white;
  
}

.btn:hover {
  background-color: rgba(236, 29, 36, 0.4);
  transition: .15s ease-in-out;
  color: white;
}

.modalBody{
  display: flex;
}

/*Fin définnition Modal*/

@media (max-width: 768px) {
  #sizeLogo {
    height: 75px;
    width: 100px;
  }

  h4 {
    font-size: 10px;
  }

  .heroesCard {
    width: 100px;
    height: 50px;
    margin: 20px;
    justify-content: center;
  }

  .heroesCard:hover {
    border: solid darkgrey 2px;
    cursor: pointer;
  }
}
