.marvelCatImg {
  width: inherit;
  border-radius: 0.4rem;
}

.marvelCatComics {
  width: calc(17.5rem / 1.2);  
  border-radius: 0.4rem;
  opacity: 0.45;
}

/*.marvelCatImg:hover, .marvelCatComics:hover, .overlay:hover {
  box-shadow: 0px 0px 0px 0.125rem #ffffff;
  transform: scale(1.05);
  transition: 0.5s linear !important;
  opacity: 1;
}*/

.transition {
  width: calc(17.5rem / 1.2);
  border-radius: 0.4rem;
  opacity: 0.45;
}

.transitionComic {
  width: calc(17.5rem / 1.2);
  border-radius: 0.4rem;
  opacity: 0.75;
}


.transition:hover, .transitionComic:hover {
  box-shadow: 0px 0px 0px 0.125rem #ffffff;
  transform: scale(1.05);
  transition: 0.5s linear !important;
  opacity: 1;
}

.marvelImage a:focus {
  outline: none;
}

.carouselSlider {
  width: 100%;
  margin-bottom: 2%;
}


/* titre sur image*/
.overlay {
  position: absolute; 
  bottom: -0.55rem; 
  background: rgba(236, 29, 36, 0.65);
  width: inherit;
  border-radius: 0 0 0.4rem 0.4rem;
  opacity: 1;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}


/* carousel */
.slick-slider {
  margin: 0;
  padding:0 0.75rem 0 0;
}
.slick-list {
  padding: 0 0 0 1rem;
  margin-left: 0;
}

.slick-track {
  margin: 0 0.5rem;
  margin-left: 0;
}

.slick-disabled {
  visibility: hidden;
}

.slick-next {
  right: 0.2rem;
}

.slick-prev {
  left: 0.25rem;
}

.slick-prev,
.slick-next {
  color: transparent;
  position: absolute;
  z-index: 1;
  outline: none;
  height: 75%;
  width: 2rem;
  transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.slick-next:before {
  opacity: 0.75;
  content: URL("../images/next.svg");
}

.slick-prev:before {
  opacity: 0.75;
  content: url("../images/prev.svg");
}

.slick-slide {
  padding: 1rem 0.25rem !important;
}

.slick-slide, .slick-active {
  display: block;
  width: 17.5rem;
}

/* traitement H3 */

.titleSlider {
  font-size: 1.3rem;
}

/*.col {
  margin:0.05rem 0.25rem;
  padding:0;
}*/

/* media Query */

@media only screen and (max-width: 576px) {
  .marvelCatImg {
    height: 30%;
  }

  .slick-slide {
    padding: 5%;
  }

  .slick-prev,
  .slick-next {
    height: 80%;
    width: 40px;
  }
  .titleSlider {
    font-size: calc(28px / 1.3);
  }
}
